<div class="container">
  <div class="featured-products">
    <div class="product" *ngFor="let product of paginatedItems">
      <div class="product-content">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
        <div class="text-content">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p>{{ product.price }} €</p>
          <p>{{ product.quantity }} left</p>
        </div>
        <button mat-flat-button (click)="addToCart(product)" [disabled]="product.quantity === 0">Add to Cart</button>
      </div>
    </div>
  </div>
  <mat-paginator [length]="itemList.length" [pageSize]="8" [pageSizeOptions]="[8]" (page)="onPageChange($event)">
  </mat-paginator>
</div>
